<div class="post">
		<h1 class="title">About website</h1>
		<div class="entry">
			<p>This website is for learning purpose solely and has nothing to do with anything else.</p>
		</div>
		<div class="byline">
			<p class="meta">Made by: Kareem hatem</p>
		</div>
	</div>